<template>
    <div class="about">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Varius morbi enim nunc faucibus a pellentesque.
            Praesent elementum facilisis leo vel fringilla.
            Aenean euismod elementum nisi quis. In egestas erat imperdiet sed
            euismod nisi porta lorem. In aliquam sem fringilla ut morbi tincidunt augue.
            Ut sem viverra aliquet eget sit. Aliquam sem et tortor consequat id porta nibh venenatis.
            Ipsum dolor sit amet consectetur adipiscing elit. Iaculis eu non diam phasellus vestibulum lorem.
            Egestas integer eget aliquet nibh praesent. Tempus quam pellentesque nec nam aliquam.
            Sit amet tellus cras adipiscing. Justo donec enim diam vulputate ut pharetra sit.
            In cursus turpis massa tincidunt dui ut. Ut tellus elementum sagittis vitae et leo duis.
        </p>

        <p>
            Cras fermentum odio eu feugiat pretium nibh ipsum consequat. Iaculis eu non diam
            phasellus vestibulum lorem sed. Purus viverra accumsan in nisl nisi scelerisque eu ultrices.
            Mauris nunc congue nisi vitae suscipit tellus mauris a. Cras tincidunt lobortis feugiat vivamus at.
            Adipiscing elit ut aliquam purus. Suspendisse potenti nullam ac tortor vitae purus faucibus.
            Ullamcorper sit amet risus nullam eget felis eget nunc. Sed turpis tincidunt id aliquet.
            Et ultrices neque ornare aenean euismod elementum nisi.
        </p>
    </div>
</template>

<style lang="scss" scoped>
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {
            .about {
                display: flex;
                justify-content: center;
                flex-flow: column;
                padding: 0 30px;
                color: $invert-color;
            }

            .about p {
                margin-top: 0;
            }
        }
    }
</style>
