<template>
    <div class="jsg-home">
        <JSGArticles v-for="(cat, i)  in categories" :key="i" :articles="articles[cat]" :title="cat"
                     :class="{'loading-articles': isCategoryLoading(cat)}" :data-test="isCategoryLoading(cat)"/>
        <JSGModal modal_id="image_modal" title="">
            <template v-slot:content>
                <div class="jsg-image-modal">
                    <img :src="modal_image"/>
                </div>
            </template>
        </JSGModal>
    </div>
</template>

<script>
    import JSGArticles from "../components/JSGArticles";
    import JSGModal from "../components/JSGModal";
    import SellingArticleService from '../services/selling_article.service'

    export default {
        name: 'Home',
        components: {
            JSGArticles,
            JSGModal
        },
        data: function () {
            return {
                articles: [],
                loading_articles: {},
                categories: ['Art', 'Sport', 'Politics', 'Tech']
            }
        },
        created() {
            this.refreshArticles();

            this.$root.$on('refresh-articles', this.refreshArticles)
        },
        computed:{
            modal_image(){
                return this.$store.state.modal_image;
            },
        },
        methods: {

            refreshArticles(params) {
                let fthis = this;

                for (let i = 0; i < this.categories.length; i++) {
                    const cat = this.categories[i];
                    fthis.loading_articles[cat] = true;
                    let cat_params = Object.assign({}, params, {category: cat});

                    SellingArticleService.getAll(cat_params)
                        .then(function (response) {
                            fthis.$set(fthis.articles, cat, response.data.data)
                            fthis.$set(fthis.loading_articles, cat, false)
                        }).catch(function (e) {
                            console.log(e);
                            fthis.$set(fthis.loading_articles, cat, false)
                        }
                    );
                }

            },
            isCategoryLoading(cat) {
                return this.loading_articles[cat];
            },
            closeImageModal() {
                this.$store.commit('closeModal', 'image_modal')
            }
        },
        beforeDestroy() {
            this.$root.$off('refresh-articles')
        }
    }
</script>

<style lang="scss">
    @each $color in $colors {
    $lighter-color: lighten($color, 5%);
    $light-color: lighten($color, 10%);
    $darker-color: darken($color, 5%);
    $dark-color: darken($color, 10%);
    $invert-color: invert($color);
    $complement-color: invert($color);

        .#{"" + $color} {
            .homeText {
                font-size: 35px;
                color: red;
                text-align: center;
                position: relative;
                top: 30px;
                text-shadow: 2px 2px 2px gray;
            }

            .jsg-image-modal img {
                width: 100%;
            }

            #login_modal .modal-content {
                width: 50% !important;
            }

            @media screen and (max-width: 1300px) {
                #login_modal  .modal-content{
                    width: 70% !important;
                }
            }

            @media screen and (max-width: 1100px) {
                #login_modal  .modal-content{
                    width: 80% !important;
                }
            }
        }
    }
</style>
