<template>
    <div class="content">
        <p>
            {{message}}
        </p>
    </div>
</template>

<script>
    export default {
        name: 'Message',
        computed: {
            message(){
                return this.$route.params.message ? this.$route.params.message : '';
            }
        }
    }
</script>

<style lang="scss" scoped>
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {
            .content {
                display: flex;
                justify-content: center;
                padding: 0;
                color: $invert-color;
            }

            .content p {
                margin-top: 0;
            }
        }
    }
</style>
