<template>
    <div class="jsg-article">
        <div class="jsg-article-thumbnail">
            <a href="#" v-on:click="openImageModal(article_photo)">
                <div class="wrap-image">
                    <img v-lazy="article_photo">
                </div>
            </a>
        </div>
        <div class="jsg-article-content">
            <div class="jsg-article-title">
                <a href="#">{{article.title}}</a>
            </div>
            <div class="jsg-article-price">
                <a href="#">{{article.price | currency}}</a>
                <button class="jsg-buy-button" type="button" v-on:click="addToCart(article)">Buy</button>
            </div>
            <div class="jsg-article-author">
                <a href="#">{{article.summary}}</a>
            </div>
        </div>
    </div>
</template>

<script>
    import SellingArticlesService from '../services/selling_article.service';
    export default {
        name: "JSGArticle",
        props: ['article'],
        computed: {
            article_photo(){
                return SellingArticlesService.getPhotoUrl(this.article.id) + '?rand=' + (new Date()).getTime();
            }
        },
        methods: {
            addToCart(item){
                this.$store.commit('addToCart', item);
            },
            openImageModal(photo_url) {
                this.$store.commit('setModalImage', photo_url);
                //this.$store.state.modal_image = photo_url;
                this.$store.commit('openModal', 'image_modal');
            },
        }
    }
</script>

<style lang="scss" scoped>

    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {

            html {
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #000;
            }

            $displacement: 2;

            .wrap-image {
                position: relative;
                &::before,
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: -1;
                    border: 1px solid $light-color;
                    transition: all .25s ease-out;
                }
                &::before {
                    background-color: $light-color;
                    top: -#{$displacement}px;
                    left: -#{$displacement}px;
                }
                &::after {
                    bottom: -#{$displacement}px;
                    right: -#{$displacement}px;
                }
                &:hover {
                    &::before {
                        top: #{$displacement}px;
                        left: #{$displacement}px;
                    }
                    &::after {
                        bottom: #{$displacement}px;
                        right: #{$displacement}px;
                    }
                }
            }



            .jsg-article {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;
            }

            .jsg-article-thumbnail {
                padding: 5px 0;
            }

            .jsg-article-thumbnail img {
                width: 100%;
                height: 170px;
            }

            .jsg-article-price, .jsg-article-title, .jsg-article-author {
                text-align: center;
                padding: 3px 0;
                display: inherit;
            }

            .jsg-article-price a, .jsg-article-title a, .jsg-article-author a {
                text-decoration: none;
                font-weight: 600;
                font-size: 0.8em;
                letter-spacing: .07rem;
                line-height: 1.4em;
                text-align: center;
            }

            .jsg-article-title a {
                color: $invert-color;
                line-height: 1em;
                letter-spacing: 0;
            }

            .jsg-article-price a {
                color: $invert-color;
                font-size: 0.7em;
                font-family: sans-serif;
                letter-spacing: 0;
            }

            .jsg-buy-button {
                margin-left: 5px;
            }

            .jsg-article-author a {
                color: $invert-color;
                font-size: 0.6em;
                font-weight: normal;
            }

            @media screen and (max-width: 1000px) {
                 .jsg-article-author {
                    display: none;
                }
            }
        }
    }
</style>
