<template>
    <section class="jsg-articles-section" v-if="articles && articles.length">
        <div class="jsg-articles-title">
            <h2>{{article_title}}</h2>
        </div>
        <div class="jsg-articles">
            <JSGArticle v-for="article in loaded_articles" v-bind:key="article.id" v-bind:article="article"/>
        </div>
        <div class="loadmore_section">
            <button class="loadmore_btn"
                    type="button"
                    v-on:click="loadMore()"
                    v-if="articles && articles.length && load_more < articles.length">
                Load More
            </button>
        </div>
        <div class="spinner">
            <font-awesome-icon icon="spinner" spin/>
        </div>
    </section>
</template>

<script>
    import JSGArticle from "./JSGArticle";

    export default {
        name: "JSGArticles",
        components: {JSGArticle},
        props: ['articles', 'title'],
        data() {
            return {
                load_more: 5
            }
        },
        computed: {
            articles_list() {
                return this.articles;
            },
            article_title() {
                return this.title ? this.title : 'Article Title';
            },
            loaded_articles() {
                let _this = this;
                let articles = [];
                if(this.articles && this.articles.length){
                    articles = this.articles;
                }
                let not_in_cart = articles.slice(0, this.load_more).filter(item => {
                   return _this.$store.state.cart.find(x => x.id === item.id) === undefined;
                });
                return not_in_cart;
            }
        },
        methods: {
            loadMore(more) {
                let increased_load_more = this.load_more + (more ? more : 5);
                this.load_more = (this.articles && increased_load_more > this.articles.length) ? this.articles.length : increased_load_more;
            }
        }
    }
</script>

<style lang="scss">
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {

            .jsg-articles-section {
                padding: 20px 20px 20px 20px;
            }

            .jsg-articles {
                max-width: 3000px;
                margin: 0 auto;
                display: grid;
                flex-wrap: wrap;
                grid-gap: 1rem;
                width: 100%;
                overflow: hidden;
            }

            .jsg-articles-title {
                display: flex;
                justify-content: center;
                border-top: 1px solid $light-color;
                border-bottom: 1px solid $light-color;
                margin-bottom: 10px;
            }

            .jsg-articles-title h2 {
                margin: 10px;
                color: $invert-color;
            }

            $initial_width: 150;

            @for $i from 1 through 12 {
                $gtc: "1fr";
                @for $k from 1 through $i {
                    $gtc: $gtc + ' 1fr';
                }
                $calculated_width: $initial_width + ($i * 250);
                @media (min-width: #{$calculated_width}px) {
                    .jsg-articles {
                        grid-template-columns: unquote($gtc)
                    }
                }
            }

            .spinner {
                display: none;
            }

            .loading-articles {
                .spinner {
                    display: flex;
                    justify-content: center;
                }

                .jsg-articles {
                    display: none;
                }
            }

            .loadmore_section {
                display: flex;
                justify-content: center;
            }

            .loadmore_btn {
                color: $complement-color;
                padding: 7px 10px;
                margin: 8px 0;
                border: 1px solid $dark-color;
                border-radius: 4px;
                cursor: pointer;
                background-color: $color;
            }

            .loadmore_btn:hover {
                background-color: $darker-color;
            }
        }
    }
</style>
