<template>
    <footer class="jsgfooter">
        <div class="jsgfooter-container">
            <div class="jsgfooter-links">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><router-link to="/about">About</router-link></li>
                    <li><a href="#">Copyright</a></li>
                </ul>
                <div class="jsgfooter-links-copyright">
                    © 2021 Bootta
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "JSGFooter"
    }
</script>

<style lang="scss" scoped>
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {
            .jsgfooter {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.5em;
                border-top: 1px solid $dark-color;
                display: block;
                margin-top: 5px
            }

            .jsgfooter-container {
                margin: 0 auto;
                padding: 10px 0;
                width: calc(100% - 70px);
                text-align: center;
            }

            .jsgfooter-links {
                margin: 20px 0;
            }

            .jsgfooter-links ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .jsgfooter-links li:before {
                content: " · ";
                padding: 0 5px;
            }

            .jsgfooter-links li:first-of-type:before {
                content: " ";
            }

            .jsgfooter-links ul a {
                display: inline-block;
                text-decoration: none;
                color: #333;
            }

            .jsgfooter-links-copyright {
                color: $complement-color
            }
        }
    }
</style>
