<template>
    <div class="jshheader-logo-section">
        <router-link to="/" class="jsgheader-logo"></router-link>
    </div>
</template>

<script>
    export default {
        name: "JSGHeaderLogo"
    }
</script>

<style lang="less" scoped>
    .jsgheader-logo {
        display: block;
        background-image: url("~@/assets/images/jsgarticles_logo3.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
        height: 100px;
        width: 350px;
    }

    @media screen and (max-width: 700px) {
        .jshheader-logo-section {
            display: none;
        }
    }
</style>
