<template>
    <section class="jsgsearch " >
        <div class="jsgsearch-form" v-bind:class="{'jsg-hide': !is_search_enabled}">
            <input type="text" name="search_string" v-on:keyup.enter="searchArticle" v-on:keyup.esc="closeSearch" v-model="search_query"/>
            <button type="button" v-on:click="searchArticle">
                <font-awesome-icon icon="search" />
            </button>
        </div>
    </section>
</template>

<script>


    export default {
        name: "JSGHeaderSearch",
        data: function(){
            return {
                search_query: ""
            }
        },
        computed:{
            is_search_enabled(){
                return this.$store.state.is_search_enabled;
            }
        },
        methods:{
            searchArticle(){
                this.$root.$emit('refresh-articles', {q: this.search_query})
            },
            closeSearch(){
                this.$store.state.is_search_enabled = false;
            }
        }
    }
</script>

<style scoped>
    .jsg-hide {
        display: none !important;
    }

    .jsgsearch {
        padding-top: 5px;
        height: 35px;
    }

    .jsgsearch-form {
        height: 35px;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        width: 100%;
        color:
    }

    .jsgsearch-form input {
        border: 1px solid #b7b7b7;
        border-right: none;
        font-size: 20px;
        line-height: 1.35em;
        padding: 0 0.3em;
        width: 20%;
    }

    @media screen and (max-width: 700px) {
        .jsgsearch-form input {
            width: 100%;
        }
    }

    .jsgsearch-form button {
        width: 50px;
        border-radius: 0;
        border-color: black;
        background-color: black;
        color: white;
        cursor: pointer;
    }
</style>
