<template>
    <section class="jsgheader">
        <JSGToprightMenu/>
        <JSGHeaderLogo/>
        <JSGNavbar/>
        <JSGHeaderSearch/>
    </section>
</template>

<script>
    import JSGHeaderLogo from "@/components/JSGHeaderLogo";
    import JSGHeaderSearch from "./JSGHeaderSearch";
    import JSGNavbar from "./JSGNavbar";
    import JSGToprightMenu from "./JSGToprightMenu";

    export default {
        name: "JSGHeader",
        components: {JSGToprightMenu, JSGNavbar, JSGHeaderSearch, JSGHeaderLogo},
    }
</script>

<style lang="less" scoped>
    .jsgheader {
        margin-bottom: 10px;
        padding-top: 20px;
    }
</style>
