<template>
    <div>
        <div id="login_modal" class="modal" v-on:click="onClickOutside"
             v-bind:style="{'display': (is_modal_open() === true ? 'block' : 'none')}">

            <!-- Modal content -->
            <div class="modal-content" v-bind:style="{'width': width}">
                <div class="modal-header">
                    <span class="close" v-on:click="closeLoginModal">&times;</span>
                    <h2>{{title}}</h2>
                </div>
                <div class="modal-body">
                    <slot name="content"></slot>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "JSGModal",
        props: {
            title: {type: String, default: 'Modal header'},
            width: {type: String, default: '80%'},
            modal_id: {type: String, required: true},
        },
        methods: {
            is_modal_open() {
                return [true, false].indexOf(this.$store.state.modal_change) !== -1 && this.$store.state.is_modal_open[this.modal_id];
            },
            closeLoginModal() {
                this.$store.commit('closeModal', this.modal_id)
                this.$emit('modal:open:change', false);
            },
            onClickOutside(event) {
                if (event.target.classList.contains('modal')) {
                    this.closeLoginModal();
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    @each $color in $colors {
        $light-color: lighten($color, 60%);
        $dark-color: darken($color, 60%);

        .#{"" + $color} {
            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0, 0, 0); /* Fallback color */
                background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                padding: 1px;
                border: $light-color;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s
            }

            /* Add Animation */
            @-webkit-keyframes animatetop {
                from {
                    top: -300px;
                    opacity: 0
                }
                to {
                    top: 0;
                    opacity: 1
                }
            }

            @keyframes animatetop {
                from {
                    top: -300px;
                    opacity: 0
                }
                to {
                    top: 0;
                    opacity: 1
                }
            }

            /* The Close Button */
            .close {
                color: #333;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

            .modal-header {
                padding: 2px 16px;
                color: #333;
            }

            .modal-header h2 {
                margin: 10px 0 0 0;
            }

            .modal-body {
                padding: 0;
            }

            .modal-footer {
                display: flex;
                justify-content: center;
                padding: 2px 16px;
                color: white;
            }

            @media screen and (max-width: 700px) {
                .modal {
                    padding-top: 0;
                    overflow: hidden;
                }

                .modal .modal-content {
                    width: 100% !important;
                    height: 100%;
                }
            }
        }
    }
</style>
