<template>
    <div class="jsgnavbar-links-container">
        <router-link to="/" class="jsgnavbar-logo">
            <img src="~@/assets/images/jsgarticles_logo3.svg"/>
        </router-link>
        <ul class="login_links_list">
            <li style="display: flex; align-items: center">
                <JSGShoppingCart/>
            </li>
            <JSGToprightMenuLogin v-if="!is_logged"/>
            <li v-if="is_logged">
                <a href="#" v-on:click="logout">Logout</a>
            </li>
        </ul>
        <ul class="links_list">
            <li>
                <router-link to="/">Home</router-link>
            </li>
            <li>
                <router-link to="/about">About</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    import JSGToprightMenuLogin from "./JSGToprightMenuLogin";
    import JSGShoppingCart from "./JSGShoppingCart";

    export default {
        name: "JSGNavbarLinks",
        components: {JSGToprightMenuLogin, JSGShoppingCart},
        computed: {
            is_logged: function () {
                return this.$store.state.auth.status.loggedIn;
            }
        },
        methods: {
            logout() {
                this.$store.dispatch('auth/logout');
            }
        }
    }
</script>

<style lang="scss" scoped>
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {
            .jsgnavbar-links-container {
                display: flex;
                -ms-flex: 1;
                flex: 1;
                justify-content: center;
                color: $complement-color;
            }

            .jsgnavbar-links-container .login_links_list {
                display: none;
            }

            @media screen and (max-width: 700px) {
                .jsgnavbar-links-container .links_list {
                    display: none;
                }

                .jsgnavbar-links-container .login_links_list {
                    display: inherit;
                }

                .jsgnavbar-links-container {
                    justify-content: flex-end;
                }

                .jsgnavbar-logo img {
                    height: 100%;
                    width: 40%;
                    margin-left: 40%;
                }

                .jsgnavbar-logo {
                    width: 80%;
                }
            }
        }
    }
</style>
