<template>
    <div class="jsgnavbar">
        <JSGNavbarLinks/>
        <JSGNavbarSearch/>
    </div>
</template>

<script>
    import JSGNavbarLinks from "./JSGNavbarLinks";
    import JSGNavbarSearch from "./JSGNavbarSearch";

    export default {
        name: "JSGNavbar",
        components: {JSGNavbarSearch, JSGNavbarLinks}
    }
</script>

<style lang="scss">
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {
            .jsgnavbar {
                font-family: hero new, sans sans-serif;
                border-bottom: 1px solid $dark-color;
                border-top: 1px solid $dark-color;
                display: flex;
            }

            .jsgnavbar ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            .jsgnavbar li:not(.right) {
                float: left;
            }

            .jsgnavbar li {

            }

            .jsgnavbar li:last-child {
                border-right: none;
            }

            .jsgnavbar li a {
                display: block;
                color: $invert-color;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                letter-spacing: .07rem;
                font-family: monospace;
                font-weight: 700;
                text-transform: uppercase;
            }

            .jsgnavbar li a:hover:not(.active) {
                background-color: whitesmoke;
            }

            .jsgnavbar li a.active {
                background-color: $light-color;
            }

            .jsgnavbar li.right {
                float: right;
            }

            @media screen and (max-width: 400px) {
                .jsgnavbar {
                    position: relative;
                }

                .jsgnavbar ul {
                    display: inline-block;
                }

                .jsgnavbar li.right {
                    float: none;
                }
            }
        }
    }
</style>
