<template>
    <div class="jsgnavbar-search push-right">
        <div class="jsgnavbar-search-btn">
            <a href="#" v-on:click="toggleSearch()"
               v-bind:class="{'jsgnavbar-search-active-btn': is_search_enabled}">
                <font-awesome-icon icon="search"/>

            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "JSGNavbarSearch",
        methods:{
            toggleSearch: function toggleSearch() {
                this.$store.commit('toggleSearch');
            }
        },
        computed:{
            is_search_enabled(){
                return this.$store.state.is_search_enabled;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {
            .jsgnavbar-search {
                display: flex;
            }

            .jsgnavbar-search-btn {
                align-items: center;
                display: flex;
            }

            .jsgnavbar-search-btn a {
                padding: 10px;
                display: block;
                text-decoration: none;
                color: black;
            }

            .push-right {
                margin-left: auto;
            }

            .jsgnavbar-search-active-btn {
                background-color: $light-color;
                border-radius: 50%;
            }
        }
    }
</style>
