<template>
    <div class="jsg-shopping-cart-section">
        <div class="jsg-shopping-cart-icon" v-on:click="openCartModal" v-if="cart_count > 0">
            <font-awesome-icon icon="shopping-cart" size="xs"/>
            <span class="items-count">
                <span>{{cart_count}}</span>
            </span>
        </div>
        <JSGModal modal_id="cart_modal" title="Shopping Cart" width="500px">
            <template v-slot:content>
                <div class="jsg-cart-content">
                    <table class="jsg-cart-items-table" cellspacing="0">
                        <thead>
                        <td class="jsg-cart-item-title">
                            Title
                        </td>
                        <td class="jsg-cart-item-price">
                            Price
                        </td>
                        <td class="jsg-cart-item-actions">

                        </td>
                        </thead>
                        <tr v-for="(item, i) in cart_items" :key="i">
                            <td class="jsg-cart-item-title">
                                {{item.title}}
                            </td>
                            <td class="jsg-cart-item-price">
                                {{item.price}}
                            </td>
                            <td class="jsg-cart-item-actions">
                                <button type="button" v-on:click="removeCartItem(item)">Remove</button>
                            </td>
                        </tr>

                        <tr class="jsg-cart-items-table-total">
                            <td>Total:</td>
                            <td>{{cart_total}}</td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="jsg-cart-modal-btns">
                        <button type="button" v-on:click="checkout" v-if="cart_count > 0">Checkout</button>
                        <button type="button" v-on:click="closeCartModal">Close</button>
                    </div>
                </div>
            </template>
            <template v-slot:footer>
                <div class="modal-footer">
                    <h3> test</h3>
                </div>
            </template>
        </JSGModal>
    </div>
</template>

<script>
    import JSGModal from "./JSGModal";
    import CustomersService from "../services/customers.service";

    export default {
        name: "JSGNavbar",
        components: {JSGModal},
        computed: {
            is_logged: function () {
                return this.$store.state.auth.status.loggedIn;
            },
            cart_count() {
                return this.$store.state.cart.length;
            },
            cart_items() {
                return this.$store.state.cart;
            },
            cart_total() {
                return this.$store.state.cart.reduce((sum, x) => {
                    return sum + parseFloat(x.price)
                }, 0);
            }
        },
        methods: {
            openCartModal() {
                this.$store.commit('openModal', 'cart_modal');
            },
            closeCartModal() {
                this.$store.commit('closeModal', 'cart_modal')
            },
            checkout() {
                if (this.is_logged) {
                    CustomersService.checkout({cart_items: this.cart_items})
                        .then((response) => {
                            if (response.data === true) {
                                this.$store.commit('clearCart');
                                this.closeCartModal();
                                this.$router.push({
                                    name: 'Message',
                                    params: {message: 'Thank You for Purchase', title: 'Successful Purchase'}
                                })
                            } else {
                                this.closeCartModal();
                                this.$router.push({
                                    name: 'Message',
                                    params: {message: 'Checkout failed', title: 'Checkout failed'}
                                })
                            }
                        });
                } else {
                    this.$store.commit('openModal', 'login_modal');
                }

            },
            removeCartItem(item) {
                const index_in_cart = this.$store.state.cart.findIndex(x => x.id === item.id);

                if (index_in_cart >= 0) {
                    this.$store.state.cart.splice(index_in_cart, 1)
                }

            }
        }
    }
</script>

<style lang="scss">
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {
            .jsg-shopping-cart-icon {
                position: relative;
                cursor: pointer;
            }

            $red: red;

            .jsg-shopping-cart-icon .items-count {
                position: absolute;
                right: -7px;
                bottom: -5px;
                background-color: red;
                border-radius: 50%;
                font-size: 0.5em;
                width: 17px;
                height: 17px;
                line-height: 17px;
                text-align: center;
                color: white;
            }

            .jsg-cart-items-table {
                width: 100%;
                text-align: center;
                margin: 35px 0 5px 0;
                padding: 0 20px;
            }

            .jsg-cart-items-table td {
                padding: 5px;
            }

            .jsg-cart-items-table-total td {
                border-top: 1px solid $light-color;
            }

            .jsg-cart-modal-btns {
                display: flex;
                justify-content: flex-end;
                padding: 10px;
            }

            .jsg-cart-modal-btns button {
                padding: 5px 10px;
                font-size: 1em;
                margin-left: 5px;
            }
        }
    }
</style>
