<template>
    <li>
        <a href="#" v-on:click="openLoginModal">Login</a>
        <JSGModal modal_id="login_modal" title="Login" width="500px">
            <template v-slot:content>
                <div class="login_form">
                    <input type="text" id="email" name="email" placeholder="Email..." v-model="user.email">
                    <input type="password" id="password" name="password" placeholder="Password..."
                           v-model="user.password">

                    <input type="submit" value="Log in" v-on:click="login">
                </div>
            </template>
        </JSGModal>
    </li>
</template>

<script>
    import JSGModal from "./JSGModal";
    import User from "../models/User";

    export default {
        name: "JSGToprightMenuLogin",
        components: {JSGModal},
        data: function () {
            return {
                user: new User('test1@mail.com', 'test1234')
            }
        },
        methods: {
            openLoginModal() {
                this.$store.commit('openModal', 'login_modal');
            },
            closeLoginModal() {
                this.$store.commit('closeModal', 'login_modal')
            },
            onClickOutside(event) {
                if (event.target.classList.contains('modal')) {
                    this.closeLoginModal();
                }
            },
            login() {
                if (this.user.email && this.user.password) {
                    this.$store.dispatch('auth/login', this.user).then(
                        () => {
                            this.closeLoginModal();
                        },
                        error => {
                            this.loading = false;
                            this.message =
                                (error.response && error.response.data) ||
                                error.message ||
                                error.toString();
                        }
                    );
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {

            .login_form input[type=text], input[type=password], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid $dark-color;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .login_form input[type=submit] {
                width: 100%;
                color: $complement-color;
                padding: 14px 20px;
                margin: 8px 0;
                border: 1px solid $dark-color;
                border-radius: 4px;
                cursor: pointer;
                background-color: $color;
            }

            .login_form input[type=submit]:hover {
                background-color: $darker-color;
            }

            div.login_form {
                border-radius: 5px;
                padding: 20px;
            }
        }
    }
</style>
