<template>
    <div class="jsg-topright-menu">
        <ul>
            <li>
                <JSGShoppingCart/>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn" v-bind:style="{'background-color': active_color}"></button>
                    <div class="dropdown-content">
                        <a href="#" v-for="(color, i) in colors" v-on:click="changeActiveColor(color)"
                           v-bind:key="i"><span class="color-picker-square"
                                                v-bind:style="{'background-color': color}"></span></a>
                    </div>
                </div>
            </li>
            <JSGToprightMenuLogin v-if="!is_logged"/>
            <li v-if="is_logged">
                <a href="#" v-on:click="logout">Logout</a>
            </li>
        </ul>
    </div>
</template>

<script>
    import JSGToprightMenuLogin from "./JSGToprightMenuLogin"
    import JSGShoppingCart from "./JSGShoppingCart"

    export default {
        name: "JSGToprightMenu",
        components: {JSGToprightMenuLogin, JSGShoppingCart},
        data() {
            return {
                colors: this.$store.state.colors
            }
        },
        computed: {
            is_logged: function () {
                return this.$store.state.auth.status.loggedIn;
            },
            active_color() {
                return this.$store.state.active_color;
            },
        },
        methods: {
            logout() {
                this.$store.dispatch('auth/logout');
            },
            changeActiveColor(color) {
                this.$store.commit('changeActiveColor', color);
            },
        }
    }
</script>

<style lang="scss">
    @each $color in $colors {
        $lighter-color: lighten($color, 5%);
        $light-color: lighten($color, 10%);
        $darker-color: darken($color, 5%);
        $dark-color: darken($color, 10%);
        $invert-color: invert($color);
        $complement-color: invert($color);

        .#{"" + $color} {
            .jsg-topright-menu {
                height: 30px;
                clear: right;
                float: right;
                margin-right: 20px;
                margin-top: -10px
            }

            .jsg-topright-menu ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .jsg-topright-menu li {
                margin-left: 10px;
                display: inline-block;
            }

            .jsg-topright-menu a {
                font-size: 17px;
                text-decoration: none;
                color: #333;
            }

            @media screen and (max-width: 700px) {
                .jsg-topright-menu {
                    display: none;
                }
            }


            .dropbtn {
                color: white;
                padding: 7px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                vertical-align: middle;
            }

            /* The container <div> - needed to position the dropdown content */
            .dropdown {
                position: relative;
                display: inline-block;
            }

            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 7px 7px;
                text-decoration: none;
                display: block;
            }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {
                display: block;
            }

            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }

            .color-picker-square {
                display: block;
                width: 15px;
                height: 15px;
            }

            .jsg-shopping-cart-icon {
                position: relative;
                cursor: pointer;
            }

            $red: red;

            .jsg-shopping-cart-icon .items-count {
                position: absolute;
                right: -7px;
                bottom: -5px;
                background-color: red;
                border-radius: 50%;
                font-size: 0.5em;
                width: 17px;
                height: 17px;
                line-height: 17px;
                text-align: center;
                color: white;
            }

            .jsg-cart-items-table {
                width: 100%;
                text-align: center;
                margin: 35px 0 5px 0;
                padding: 0 20px;
            }

            .jsg-cart-items-table td {
                padding: 5px;
            }

            .jsg-cart-items-table-total td {
                border-top: 1px solid $light-color;
            }

            .jsg-cart-modal-btns {
                display: flex;
                justify-content: flex-end;
                padding: 10px;
            }

            .jsg-cart-modal-btns button {
                padding: 5px 10px;
                font-size: 1em;
                margin-left: 5px;
            }
        }
    }
</style>
