<template>
    <div id="app" v-bind:class="active_color">
        <JSGHeader/>
        <router-view/>
        <JSGFooter/>
    </div>
</template>

<script>
    import JSGHeader from "./components/JSGHeader";
    import JSGFooter from "./components/JSGFooter";

    export default {
        name: 'App',
        metaInfo: {
            title: 'JSG Articles'
        },
        components: {JSGFooter, JSGHeader},
        computed:{
            active_color(){
                return this.$store.state.active_color;
            }
        }
    }
</script>

<style lang="less">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html {
        font-size: 22px;
    }

    body {
        padding: 0;
        margin: 0;
    }

</style>
